<div class="row">
  <div class="eight columns alpha">
    <h2>Ziana Soul</h2>

      <%= image_tag('DSC_4175.JPG', size: "400x350") %>
  </div>

  <div class="eight columns omega bioText">
    <p><em>Music is who I am... anyone who truly knows me can tell you that.</em><br /><br />  

I've been singing since the age of 2 years old and I was singing before I could walk. I live and breathe music, it's my passion! From primary school right through to my teens I was always engaged in something musical. I've sung many genres of music, and enjoyed them all. I took a 13 year break, but now I'm back doing what I love. I have been itching to sing and write to EDM from when that big hit tune by Raze - "Break for Love" came out in the 1980s.  
Now I've been given this amazing opportunity; and now I'm grabbing it with both hands...</p>
  </div>
</div>

<div class="row">
  <div class="eight columns alpha">
    <h2>Mav P</h2>

      <%= image_tag('DSC_4198.JPG', size: "400x350") %>
  </div>

  <div class="eight columns omega bioText">
    <p><em>Music makes the world dance, and I intend to keep it dancing...</em><br /><br /> 

My Dad used to DJ before I was born and I've been around music ever since. When I was between the ages of 10-16 I used to write lyrics and mess around. I had my first taste of a real studio environment when I was 16 and that was when I fell in love fully with music as well as the process of how it is made and the end result. I was later signed as an artist and producer, but by the age of 21 my circumstances changed and I ended up having a 12 year hiatus away from music. I'm now back on my path and I'm here to make a massive impact on the dance industry.</p>
  </div>
</div>