<div class="container">
  <header class="headerContent row">
    <h1>Transendenz Music</h1>
    <nav class="offset-by-four columns">
      <ul>
        <li class="two columns"><a id="Home" class="load" href="home/">Home</a></li>
        <li class="two columns"><a id="About" class="load" href="home/about">About</a></li>
        <li class="two columns"><a id="Photos" class="load" href="#">Photos</a></li>
        <li class="two columns"><a id="Contact" class="load" href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main id="MainContent" class="sixteen columns"><%= render 'welcome' %></main>
  <footer class="sixteen columns"><div class="footerContainer"><p>Social media links to go here</p></div></footer>
</div>